#app{
    width: 100%;
    background-color: pink;
    height: 800px;
}
body{
    text-align: center;
}
.line{
    height: 7px;
    width: 70px;
    background-color: hotpink;
    margin: 8px auto;
}
#games{
    width: 100%;
    background-color: antiquewhite;
    height: 800px;
}
#chatbot{
    width: 100%;
    background-color: bisque;
    height: 800px;
}
img:hover{
    transform: scale(0.9);
}